@charset "UTF-8";

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.all-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.single-items {
  opacity: 0;
}

.image-area {
  position: relative;
}

.image-area img {
  transition: 0.4s;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.image-area:hover .play-icon {
  opacity: 1;
}

.image-area img:hover {
  filter: grayscale(1);
}

.audio-player {
  display: none;
}
